framework:
  secret: '%env(APP_SECRET)%'
  #csrf_protection: true
  #http_method_override: true

  # Enables session support. Note that the session will ONLY be started if you read or write from it.
  # Remove or comment this section to explicitly disable session support.
  session:
    handler_id: null
    sid_length: 64
    sid_bits_per_character: 6
    name: __Host-sessionId
    cookie_secure: '%app.auth_cookies_secure%'
    cookie_samesite: '%app.auth_cookies_same_site%'

  #esi: true
  #fragments: true
  php_errors:
    log: true
