<p>Bonjour {{ user.businessUsername }},</p>
<p>
    Une tentative de connexion à votre compte a été détectée mais vous n'avez pas encore activé votre compte.
    Vous ne pouvez pas vous connecter tant que vous n'avez pas activé votre compte.
    Vous pouvez l'activer en cliquant
    <a href="{{ url('account_activation_confirm', {'token' : user.accountActivationToken}) }}">ici</a>.
</p>
