<p>Bonjour {{ user.businessUsername }},</p>
<p>
    Cliquez <a href="{{ url('password_reset', {'token' : user.passwordResetToken}) }}">ici</a> pour réinitialiser votre
    mot de passe.
    (Ce lien expirera dans {{ password_reset_token_lifetime_in_minutes }} minutes)
</p>
