<form action="{{ path('account_deletion_request') }}" method="post" class="disable-on-submit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('account_deletion_request') }}"/>
    <button class="btn btn-danger border-0 rounded-0 text-white" type="submit">
        {{ 'user.send_me_deletion_link'|trans }}
    </button>
</form>
