<form action="{{ path('email_change_cancel') }}" method="post" class="mr-2 disable-on-submit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('email_change_cancel') }}"/>
    <input type="hidden" name="email_change_token" value="{{ user.emailChangeToken }}"/>
    <button class="btn btn-secondary border-0 rounded-0 text-white" type="submit">
        {{ 'global.form.cancel'|trans }}
    </button>
</form>
