<form action="{{ path('email_change') }}" method="post" id="form-button-email-change" class="disable-on-submit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('email_change') }}"/>
    <input type="hidden" name="email_change_token" value="{{ user.emailChangeToken }}"/>
    <button class="btn btn-success border-0 rounded-0 text-white" type="submit">
        {{ 'global.form.confirm'|trans }}
    </button>
</form>
