<form action="{{ path('logout') }}" method="post" id="form-button-logout">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}" id="csrf-token"/>
    <input
            class="btn btn-danger border-0 rounded-0 text-white" type="submit" id="_submit"
            name="_submit"
            value="{{ 'global.logout'|trans }}"
    />
</form>
