{# Put here Twig data required by JS globally on your website (e.g. Google Analytics key) #}
{% set twig_to_js_global_data = {
    websiteName: globals.website_name,
    translations: {
        global: {
            loading: 'global.loading'|trans,
            noInternet: 'global.no_internet'|trans,
            unknownError: 'global.unknown_error'|trans
        }
    }
} %}

{#
IF this template is included in a page and extra_data is defined, merge twig_to_js_global_data with extra_data into one
single twig_to_js_data object.
ELSE just assign twig_to_js_global_data to twig_to_js_data.
#}
{% if extra_data is defined %}
    {% set twig_to_js_data = twig_to_js_global_data|array_merge_recursive(extra_data) %}
{% else %}
    {% set twig_to_js_data = twig_to_js_global_data %}
{% endif %}

{# JSON encode twig_to_js_data object into a stringified JS object #}
<div id="twig-to-js-data" data-twig-to-js="{{ twig_to_js_data|json_encode }}"></div>
