<form
        action="{{ path('password_reset_request_ajax') }}" method="post" id="ajax-form-password-reset-request"
        class="col p-0 my-3 disable-on-submit"
>

    {% include 'flash_alert/_alert.html.twig' with {
        'alert_type': 'password-reset-error',
        'alert_style': 'danger',
        'text_align': 'center'
    } %}

    {% include 'flash_alert/_alert.html.twig' with {
        'alert_type': 'password-reset-request-success',
        'alert_style': 'success',
        'text_align': 'center'
    } %}

    <input type="hidden" name="csrfToken" value="{{ csrf_token('password_reset_request') }}"/>

    <div class="form-group">
        <input type="text" class="form-control border-input mb-3 rounded-0" name="login"
               placeholder="{{ 'user.username_or_email_address'|trans }}" aria-label="email" aria-describedby="email"
               required="required"
        />
    </div>

    <div class="form-group">
        <button class="btn btn-primary border-0 btn-block rounded-0 text-white" type="submit">
            {{ 'user.send_email'|trans }}
        </button>
    </div>
</form>
