<p>Hello {{ user.businessUsername }},</p>
<p>
    A login attempt to your account has been detected but you have not yet activated your account.
    You will not be able to log in until you have activated your account.
    You can activate your account by clicking
    <a href="{{ url('account_activation_confirm', {'token' : user.accountActivationToken}) }}">here</a>.
</p>
