<p>Hey {{ user.username }}!</p>
<p>
    Click <a href="{{ url('password_reset', {'token' : user.passwordResetToken}) }}">here</a> to reset your
    password.
    (This link will expire in {{ password_reset_token_lifetime_in_minutes }} minutes)
</p>
